<form
  [formGroup]="clientEditForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col gap-4 pt-1"
>
  <p-float-label variant="on">
    <label for="name">Name</label>
    <input id="name" pInputText formControlName="name" class="w-full" />
    <app-form-error-message
      [control]="clientEditForm.controls.name"
      controlName="name"
      label="Name"
    />
  </p-float-label>
  <p-float-label variant="on">
    <label for="email">Email</label>
    <input id="email" pInputText formControlName="email" class="w-full" />
    <app-form-error-message
      [control]="clientEditForm.controls.email"
      controlName="email"
      label="Email"
    />
  </p-float-label>
  <p-float-label variant="on" class="col-span-full">
    <label for="phone">Phone</label>
    <input id="phone" pInputText formControlName="phone" class="w-full" />
    <app-form-error-message
      [control]="clientEditForm.controls.phone"
      controlName="phone"
      label="Phone"
    />
  </p-float-label>
  <div class="col-span-full flex justify-between">
    <p-button
      severity="secondary"
      type="button"
      (onClick)="onSubmitCancelled.emit()"
      >Cancelar</p-button
    >
    <p-button type="submit">Guardar</p-button>
  </div>
</form>
