<section class="mt-16 py-10 sm:mt-12 md:py-28">
  <div class="mx-auto max-w-7xl px-6 sm:px-10 xl:px-6">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/2 md:pr-3">
        <h1
          class="my-6 w-full text-4xl leading-tight font-black sm:mt-12 sm:mb-3 sm:pr-10 md:w-1/2"
        >
          Facturación Electrónica Ilimitada
        </h1>
        <p class="mb-9 text-lg">
          La solución completa para emitir facturación electrónica rápida y
          sencilla, diseñada para emprendedores.
        </p>
        <div class="flex flex-col md:w-fit">
          <p-button size="large" class="[&>button]:rounded-3xl [&>button]:p-4">
            Contactar a Ventas
          </p-button>
          <a
            class="p-button p-button-link text-surface-700 mx-auto mt-4 w-full text-base"
          >
            Probar demo
          </a>
        </div>
      </div>
      <div class="flex w-full md:w-1/2">
        <img
          src="https://susii.com/_nuxt/heroe-cellphone.BXYviEv8.png"
          class="mt-10 block self-center sm:mt-0"
        />
      </div>
    </div>
  </div>
</section>
